<h1>Before we create your account, tell us about yourself:</h1>
<form>
  <div class="form-group">
    <label for="username">Username</label>
    <input #newUsername class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="age">Age</label>
    <input #newAge class="form-control" type="number">
  </div>
  <div class="form-group">
    <label>Location: </label>
    <button [class]="locationButton" (click)="getLocation()">Auto</button>
    <input type="text"[ngModelOptions]="{standalone: true}" [(ngModel)]="location" [required]="!autoGetLocation" [disabled]="autoGetLocation">
  </div>
  <div class="form-group">
    <label>Gender:</label>
    <select class="form-control" #newGender>
      <option value="f">F</option>
      <option value="m">M</option>
      <option value="o">Other</option>
    </select>
  </div>
  <div class="form-group">
    <label>Relationship Status:</label>
    <select class="form-control" #newStatus>
      <option value="single">Single</option>
      <option value="comitted">Committed</option>
    </select>
  </div>
  <div class="form group">
    <label>About me:</label><br>
    <textarea #newAbout placeholder="Write a little bit about yourself here..."></textarea>
  </div>
  <div class="well">
    <div>
      <!-- <li>{{child.age}}/{{child.gender}}</li> -->
    </div>
    <h4>Add information about your children, submit more than once if applicable:</h4>
    <div class="form-group">
      <label>Gender:</label>
      <select class="form-control" #newChildGender>
        <option value="f">F</option>
        <option value="m">M</option>
        <option value="o">Other</option>
      </select><br>
      <label>Age:</label>
      <input type="number" min="1" max="18" #newChildAge>
      <br><br>
      <button class="btn btn-sm btn-success" (click)="addNewChild(newChildGender.value, newChildAge.value)">Add Child</button>
    </div>
  </div>
  <div class="form-group" *ngFor="let interest of interests">
    <label>{{interest.display}}</label>
    <input type="checkbox" value="{{interest.value}}" (click)="addInterest(interest.value)">
  </div>
  <button class="btn btn-lg btn-success" (click)="saveUser(newUsername.value, newAge.value, newGender.value, newAbout.value, newStatus.value)">Submit</button>
</form>
