  <div class="container top-margin" *ngFor="let user of profile">
      <div class="form-group">
        <label for="username">Username</label>
        <input [(ngModel)]="user.username" class="form-control">
      </div>
      <div class="form-group">
        <label for="age">Age</label>
        <input [(ngModel)]="user.age" class="form-control" type="number">
      </div>
      <div class="form-group">
        <label>Location: </label>
        <button [class]="locationButton" (click)="getLocation()">Auto</button>
        <input type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="user.location" [required]="!autoGetLocation" [disabled]="autoGetLocation">
      </div>
      <div class="form-group">
        <label>Gender:</label>
        <select class="form-control" [(ngModel)]="user.gender">
          <option value="f">F</option>
          <option value="m">M</option>
          <option value="o">Other</option>
        </select>
      </div>
      <div class="form-group">
        <label>Relationship Status:</label>
        <select class="form-control" [(ngModel)]="user.status">
          <option value="single">Single</option>
          <option value="comitted">Committed</option>
        </select>
      </div>
      <div class="form-group">
        <label>About me:</label><br>
        <textarea class="form-control" rows="10" [(ngModel)]="user.about"></textarea>
      </div><br>

<!-- LEAVE IN! PART OF EDIT FORM THAT WILL HANDLE ADD CHILDREN AND UPDATE INTERESTS -->
      <!-- <div class="well">
        </div>
        <h4>Add information about your children, submit more than once if applicable:</h4>
        <div class="form-group">
          <label>Gender:</label>
          <select class="form-control" [(ngModel)]="user.children.gender">
            <option value="f">F</option>
            <option value="m">M</option>
            <option value="o">Other</option>
          </select><br>
          <label>Age:</label>
          <input type="number" min="1" max="18" [(ngModel)]="user.children.age">
          <br><br>
          <button class="btn btn-sm btn-success" (click)="updateChild(user.children.gender, user.children.age)">Add Child</button>
        </div>
      </div> -->
      <!-- <div class="form-group" *ngFor="let interest of interests">
        <label>{{interest.display}}</label>
        <input type="checkbox" value="{{interest.value}}" (click)="updateInterests(interest.value)">
      </div> -->

      <button class="btn btn-lg btn-success" (click)="updateUser(user)">Submit</button>
  </div>
