<div class="background">
  <div class="login sign-up">
    <div *ngIf=" newUser === false" class="auth-form">
      <h2>Log In</h2>
      <div class="form-group">
        <label for="email">Email</label>
        <input #email class="form-control" type="email" placeholder="you@email.com" required>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input #password class="form-control" type="password" placeholder="password" required>
      </div>
        <button class="btn btn-green btn-fat" (click)="loginWithEmail(email.value, password.value)">Submit</button>
    </div>
    <!-- Sign up form below -->
    <div *ngIf="newUser === true">
      <div class="sign-up">
        <div>
          <h1>Sign up</h1>
          <br>
          <label>email:</label>
          <input type="email" class="form-control" #newEmail  placeholder="you@email.com" required>
          <label>password:</label>
          <input  type="password"  class="form-control" #newPassword placeholder="hint: don't use password" required>
          <br>
          <div class="center">
            <button class="btn btn-green btn-big" (click)="signupWithEmail(newEmail.value, newPassword.value)">Submit</button>
            <button class="btn btn-red btn-big" (click)="toggleSignUpForm()">Cancel</button>
          </div>
        </div>
      </div>
    </div>
    <br><br>
    <h2 *ngIf="newUser === false">&nbsp;New Account</h2>
    <br>
      <button *ngIf="newUser === false" class="btn btn-blue  btn-fat" (click)="addNewUser()">Sign up</button>
  </div>
</div>
