

<h2>Your Potential Matches:</h2>
<div *ngFor="let match of matches | interests:profile">
  <h4>Username: {{match.username}}</h4>
  <button (click)="addFriend(match, profile)">Add friend</button>
</div>

<h2>Your Friends:</h2>
<button (click)="getFriendById(profile)">See Friends</button>
<div *ngFor="let friend of friendObjects">
  <h4>{{friend.username}}</h4>
  <button (click)="showMessageForm()">Message</button>

  <div [hidden]="messageButton">
    <div>
      <label>Author</label>
      <input #newAuthor required>
    </div>

    <div>
      <label>Message</label>
      <textarea #newMessage required></textarea>
    </div>
    <button (click)="submitForm(newAuthor.value, newMessage.value, friend, profile)">Send</button>
  </div>
</div>
