<h3>Messages:</h3>
 <div *ngFor="let message of messages | values">
   <p>Sender: {{message.author}}</p>
   <p>Message: {{message.content}}</p>
   <button (click)="showMessageForm()">Reply</button>
   <div [hidden]="messageButton">
     <div>
       <label>Author</label>
       <input #newAuthor required>
     </div>

     <div>
       <label>Message</label>
       <textarea #newMessage required></textarea>
     </div>
     <button (click)="submitForm(newAuthor.value, newMessage.value, message.senderId, profileObject)">Send</button>
   </div>
 </div>
