
<div class="container panel top-margin" *ngFor="let user of profile">
  <div class="userHeader">
    <h1>{{user.username}}'s Profile</h1>
    <h4>{{user.age}}/{{user.gender}}</h4>
  </div>
  <hr>
  <h3><span class="bold">Marital status: </span> {{user.status}}</h3>
  <h3><span class="bold">Children: </span></h3>

  <div *ngFor="let child of user.children">
    <h4>Child</h4>
    <ul>
      <li><span class="bold">Age: </span> {{child.age}}</li>
      <li><span class="bold">Gender: </span>{{child.gender}}</li>
    </ul>
  </div>
</div>

<app-matches></app-matches>
<hr>
<!-- <app-messages></app-messages> -->
