<h1>Mon Ami</h1>
<p>Welcome to Mon Ami. Make an account or sign in to begin connecting you and your children to eager friends and play-mates from your area</p>




  <!-- LIST USERS -->
<!-- <h1>Local Users</h1>
<div class="well" *ngFor="let user of users">
  <h3 (click)="goToProfile(user)">{{user.username}}</h3>
  <p>{{user.age}}/{{user.gender}}/{{user.location}}</p>
  <ul>
    <li *ngFor="let child of user.children">{{child.age}}/{{child.gender}}</li>
  </ul>
</div> -->
<!-- after firebase we will generate a list here for local users -->
<!--  -->
