<img class="img-center" src="assets/logo-icon.svg" alt="" />
<br>
<p class="splash-body center">Mon Ami is a social network made just for parents. You can enjoy conversation with like minded people while your kids have a playdate! Make friends connecting you and your children to eager friends and play-mates from your area!</p>
<br>
<p class="splash-body center">Create an account or sign in to begin!</p>

<!-- <a routerLink="login">Get Started</a> -->
<div class="center">
  <button class="get-started btn btn-lg btn-warning" routerLink="login">Get Started</button>
</div>
